Source: vts-backend
Section: misc
Priority: extra
Maintainer: Vaclav Blazek <vaclav.blazek@melown.com>
Build-Depends: debhelper (>= 9.20160115ubuntu3)
Standards-Version: 3.8.4
Homepage: https://www.melown.com/maps

Package: vts-backend
Architecture: any
Depends: ${misc:Depends}, socat, nginx
         , vts-mapproxy (>= 1.53)
         , vts-mapproxy-tools
         , vts-registry (>= 1.24)
         , vts-tools (>= 1.82)
         , vts-vtsd (>= 1.31)
Description: VTS Backend integration
